.schedule {
	text-align: center;
	padding: 0 1em 1em;
}

.schedule:first-of-type {
	font-size: 2em;
	color: #f07a3a;
}

.schedule:last-of-type {
	color: lightgrey;
	font-size: 1.2em;
	padding-bottom: 0;
}